* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Utilities*/

clearfix::after {
    content: '';
    display: table;
    clear: both;
}

body {
    font-family: 'Open Sans', sans-serif;
}
